/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: calc(18px + 0.2vw);
  color: #2f3640;
}
html body {
  font-family: "Roboto", sans-serif;
}
html body p {
  line-height: 1.25em;
}
html body main {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
html body main::before {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  width: 700px;
  height: 700px;
  content: "";
  display: block;
  background: radial-gradient(circle, #da4453 0%, #89216b 0%);
  border-radius: 100%;
  animation-name: move;
  animation-duration: 140s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}
@keyframes bubble {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes move {
  0% {
    transform: scale(1) translate(10px, -30px);
  }
  38% {
    transform: scale(0.8, 1) translate(10vw, -30vh) rotate(160deg);
  }
  40% {
    transform: scale(0.8, 1) translate(10vw, -30vh) rotate(160deg);
  }
  78% {
    transform: scale(1.3) translate(0vw, -50vh) rotate(-20deg);
  }
  80% {
    transform: scale(1.3) translate(0vw, -50vh) rotate(-20deg);
  }
  100% {
    transform: scale(1) translate(10px, -30px);
  }
}
html body main::after {
  z-index: -1;
  position: absolute;
  bottom: -25%;
  left: -25%;
  content: "";
  display: block;
  width: 700px;
  height: 700px;
  background: radial-gradient(circle, #ff5858 0%, #ff990f 100%);
  border-radius: 100%;
  animation-name: move;
  animation-duration: 50s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  animation-delay: 500ms;
}
@keyframes bubble {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes move {
  0% {
    transform: scale(1) translate(10px, -30px);
  }
  38% {
    transform: scale(0.8, 1) translate(25vw, 30vh) rotate(160deg);
  }
  40% {
    transform: scale(0.8, 1) translate(25vw, 30vh) rotate(160deg);
  }
  78% {
    transform: scale(1.3) translate(0vw, -50vh) rotate(-20deg);
  }
  80% {
    transform: scale(1.3) translate(0vw, -50vh) rotate(-20deg);
  }
  100% {
    transform: scale(1) translate(10px, -30px);
  }
}
html body main section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1920px;
  padding: 2em 6%;
  box-sizing: border-box;
  margin: 0 2em;
  column-gap: 30px;
  width: 100%;
}
html body main section:nth-of-type(2) {
  justify-content: space-between;
}
html body main section:nth-of-type(2) article {
  width: calc((100% / 3) - 60px);
  max-width: 500px;
  min-width: 300px;
  flex-grow: 1;
  margin-bottom: 30px;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%);
  backdrop-filter: blur(10px);
  padding: 2em;
  box-sizing: border-box;
  border-radius: 25px;
}
html body main section:nth-of-type(2) article a {
  margin-top: 0.5em;
  display: inline-block;
  color: #2f3640;
  transition: all ease-in-out 300ms;
}
html body main section:nth-of-type(2) article a:hover, html body main section:nth-of-type(2) article a:focus {
  color: #DA4453;
}
html body main section h2 {
  font-size: 2rem;
  width: 100%;
  margin-bottom: 0.5em;
  font-family: "Bebas Neue", cursive;
}
html body main section h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5em;
  font-family: "Bebas Neue", cursive;
}
html body main section figure {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}
html body main section figure img {
  width: 30%;
  min-width: 200px;
  object-fit: cover;
  flex-grow: 1;
  border-radius: 25px;
}
html body main section figure figcaption {
  padding: 1em 6%;
  margin: 2em 0;
  box-sizing: border-box;
  flex-grow: 1;
  width: 70%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%);
  border-left: 0;
  backdrop-filter: blur(10px);
}
html body main section figure figcaption ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0.5em 0;
}
html body main section figure figcaption ul li:not(:last-of-type) {
  margin-right: 1em;
}
html body main section figure figcaption ul li a {
  display: block;
  padding: 2px;
  width: 20px;
  height: 20px;
}
html body main section figure figcaption ul li a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  min-width: inherit;
  flex-grow: inherit;
  border-radius: inherit;
}
html body main section figure figcaption ul li a:hover img, html body main section figure figcaption ul li a:focus img {
  animation-name: wiggle;
  animation-duration: 1000ms;
  animation-direction: normal;
}
@keyframes wiggle {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(15deg);
  }
  50% {
    transform: rotateZ(-15deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
html body main section figure figcaption p a {
  color: #2f3640;
  transition: all ease-in-out 300ms;
}
html body main section figure figcaption p a:hover, html body main section figure figcaption p a:focus {
  color: #DA4453;
}

/*# sourceMappingURL=style.css.map */
